*{
    font-family: 'Lato', sans-serif;
}

#container{
    padding: 20px;
    max-width: 90%;
    margin: auto;
    background-color: rgb(231, 231, 231);
    text-align: center;
    margin-top: 50px;
}
h1{
    color: rgb(145, 145, 145);
}

.main{
    display: flex;
    justify-content: center;
    text-align: center;
}

.mainBox {
  background-color: honeydew;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 10px;
}


.box1:hover, button:hover{
    background-color: green;
    color: white;
}

.box3:hover{
    background-color: rgb(226, 226, 226);
}

.box1{
    font-size: 20px;
    padding: 29px;
    background-color: rgb(185, 185, 185);
}

.box2{
    font-size: 20px;
    padding: 25px;
    background-color: rgb(216, 216, 216);
    margin-bottom: 10px;
}

.box2 span{
    font-size: 35px;
}

.box3{
    font-size: 19px;
    padding: 10px;
}

.box3 span{
    font-weight: 600;
}

.btn{
    padding: 10px;
}

button{
    border-radius: 30px;
    font-size: 19px;
    padding: 10px;
    color: green;
    width: 160px;
    border: 1px solid green;
}

.green {
    color: white;
    background-color: green;
}

.btngreen button{
    color: white;
    background-color: green;
}