#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 97vh;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  text-align: center;
  background-color: chartreuse;
}

#main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 50%;
}

#Robot {
  background-color: brown;
  padding: 20px;
}

#result {
  background-color: rgb(0, 204, 255);
  padding: 20px;
}

#aalbtn {
  background-color: rgb(255, 0, 255);
  padding: 20px;
}

button {
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}
